* {
  margin: 0px;
  padding: 0px;
}
header {
  background-image: url("../images/header-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.header-area {
  margin: auto;
}
.flex-test {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-logo-area {
  /* width: 20%; */
}
.menu-delivery-area {
  /* width: 25%; */
}
.delivery-area {
  padding-bottom: 10px;
}
.flex-test1 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.delivery-area ul li {
  list-style: none;
}
.delivery-area ul li h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  font-size: 18px;
}
.menu-area ul {
  list-style: none;
}
.menu-area ul a {
  text-decoration: none;
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-left: 30px;
}
.header-bottom-area .header-text-area {
  padding-top: 150px;
}
.header-bottom-area .header-text-area h3 {
  text-transform: uppercase;
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", cursive;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 6px 12px;
  font-size: 18px;
  border: 2px dashed rgb(61, 37, 20);
  display: inline-block;
  text-align: center;
}
.header-bottom-area .header-text-area h1 {
  text-transform: uppercase;
  color: rgb(61, 37, 20);
  font-family: "Alfa Slab One", cursive;
  font-size: 95px;
  letter-spacing: 1px;
  text-shadow: rgb(255, 255, 255) 2px 3px 2px;
}
.header-bottom-area .header-text-area h2 {
  text-transform: uppercase;
  color: rgb(61, 37, 20);
  font-size: 48px;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 1px;
  text-shadow: rgb(255, 255, 255) 2px 3px 2px;
  font-weight: 400;
}
.burger-img-area {
  position: relative;
}
.price-tag{
  position: absolute;
  bottom: 65px;
  right: 510px;
  text-align: center;
}
.burger-img-area .price-tag h3 {
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
  font-size: 46px;
  font-weight: 400;
}
.burger-img-area .price-tag h3 span {
  font-size: 20px;
}
.burger-img-area .price-tag  h2{
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
  font-size: 28px;
  letter-spacing: 12px;
  font-weight: 400;
}
.flex-test2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.section-1 {
  margin: 50px 0;
}
.section-1 .left-side {
  /* margin-left: 15px; */
}
.img img {
  width: 100%;
}
.section-1 .right-side {
  /* margin-right: 15px; */
}

.section-1 .right-side .top {
  margin-bottom: 47px;
}
.section-2 {
  margin: 50px 0 80px 0;
  text-align: center;
}
.section-2 h2 {
  text-transform: uppercase;
  color: rgb(61, 37, 20);
  background-color: rgb(255, 192, 69);
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  font-size: 26px;
  font-weight: 400;
  padding: 6px 15px;
  margin-bottom: 20px;
}
.section-2 h1 {
  color: rgb(61, 37, 20);
  font-family: "Alfa Slab One", cursive;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}
.section-2 p {
  color: rgb(61, 37, 20);
  width: 55%;
  margin: auto;
}
.section-3 {
  margin: 80px 0;
}
.section-3 div h1 {
  text-transform: uppercase;
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", cursive;
  font-size: 26px;
  font-weight: 400;
}
.section-3 div p {
  color: rgb(61, 37, 20);
}
.section-3 div button {
  font-family: "Alfa Slab One", cursive;
  background-color: rgb(191, 34, 34);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 25px;
  margin-top: 30px;
  font-size: 18px;
  cursor: pointer;
}
.section-4 {
  margin: 50px 0;
}
.section-4 .event-area {
  margin: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 3px 10px 25px -15px;
}
.section-4 .event-area .section-4-text {
  padding: 40px 20px;
}
.section-4 .event-area .section-4-text h3 {
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-weight: 400;
  color: rgb(61, 37, 20);
}
.section-4 .event-area .section-4-text h1 {
  text-transform: uppercase;
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  color: rgb(61, 37, 20);
  font-size: 35px;
  padding-bottom: 20px;
}
.section-4 .event-area .section-4-text p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section-4 .event-area .section-4-img img {
  margin: 15px 0;
}
.section-5 {
  margin: 130px 0px 150px 0;
  position: relative;
}
.book-your-table h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 200;
  color: rgb(61, 37, 20);
  letter-spacing: 2px;
  font-size: 26px;
}
.book-your-table h1 {
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  color: rgb(61, 37, 20);
  font-size: 40px;
  padding-bottom: 40px;
  letter-spacing: 1px;
}
.book-table-form {
  width: 70%;
  margin: auto;
}
.book-table-form input {
  width: 70%;
  padding: 15px 17px;
  margin: 15px 0;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
  outline: none;
  font-size: 18px;
}
.book-table-form input::placeholder {
  color: rgb(61, 61, 61);
  font-family: "Bebas Neue", cursive;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.book-table-form input[type="submit"] {
  width: 70%;
  background-color: rgb(191, 34, 34);
  color: rgb(255, 255, 255);
  font-family: "Alfa Slab One", cursive;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 18px;
}
.section-5-images .image1 {
  position: absolute;
  left: 0px;
  top: -130px;
}
.section-5-images .image2 {
  position: absolute;
  left: 230px;
  top: 70px;
}
.section-5-images .image3 {
  position: absolute;
  right: 0px;
  bottom: -270px;
}
footer {
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer-area {
  padding: 20px 0 0px 0;
}
.center-area .footer-text-area {
  width: 35%;
  padding-top: 20px;
}
.center-area .footer-text-area p {
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.flex-test3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.loc-mail-area {
  color: rgb(255, 255, 255);
}
.loc-mail-area ul {
  list-style: none;
}
.loc-mail-area ul li{
  padding-top: 10px;
}
.loc-mail-area ul li i{
  padding-right: 10px;
}
.footer-bottom-area {
  padding-bottom: 10px;
}
.footer-bottom-area .left-bottom p {
  font-family: "Bebas Neue", cursive;
  color: rgb(255, 255, 255);
}
.footer-bottom-area .right-bottom ul {
  list-style: none;
}
.footer-bottom-area .right-bottom ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 28px;
}
.loc-mail-area ul li span{
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.social-contact{
  display: flex;
  justify-content: flex-end;
  justify-content: end;
}
.social-contact li a{
  padding-left: 20px;
}